.background-image1 {
    width: 100%;
    height: auto;
    position: relative;
    margin: 50px 140px 120px 140px;
}


.inside-text {
    position: absolute;
    color: white;
    left: 42%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
}

.text1 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.text2 {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.container1 {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 120px;
    font-family: 'Merriweather', serif;
}

.container1-text {
    text-align: center;
}

.discount {
    color: red;
    font-size: 88px;
    font-weight: 700;
}

.small {
    color: red;
    font-size: 24px;
    font-weight: 500;
}

.remaining {
    font-size: 48px;
    font-weight: 700;
}

.container2 {
    width: 100%;
    height: auto;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    position: relative;
}

.container2-text {
    position: absolute;
    color: white;
    left: 25px;
    top: 25px;
}

.container2image {
    position: absolute;
    z-index: 1;
    left: 850px;
    bottom: -80px;
}

.first-content {
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-left: 45px;
    font-family: 'Merriweather', serif;
}

.container2-small {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 45px;
    font-family: 'Inter', sans-serif;
}

.container2-finisher {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

.container2-finisher a {
    color: white;
    text-decoration: none;
    margin-left: 95px;
}

.container3 {
    background-color: rgba(179, 167, 167, 0.599);
    padding: 100px 386px 125px 386px;
    margin-left: 139px;
    margin-right: 140px;
    margin-bottom: 120px;
}

.container-text3 {
    text-align: center;
}

.container-text3 .btn3 {
    color: white;
    background-color: red;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 25px;
}

.span1 {
    color: red;
}

.span2 {
    color: red;
}

.span3 {
    color: red;
}

.first3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
}

.container4 {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
}

.container4-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container4-last {
    max-width: 33%;
    padding-left: 225px;
}

.right1 {
    font-size: 48px;
    font-weight: 700;
    color: red;
    font-family: 'Inter', sans-serif;
}

.right2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.left1 {
    font-size: 24px;
    font-weight: 500;
    color: red;
    font-family: 'Inter', sans-serif;
}

.left2 {
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.left3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.container4-middle {
    margin-right: 1px;
    max-width: 33%;
    padding-right: 25px;
}

.container4-first {
    max-width: 33%;
    padding-right: 136px;
}

.container4-middle img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 25px;
}

.container5 {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    /* margin-top: 600px; */
}


.h4one {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 15px;
    font-family: 'Inter', sans-serif;
}

.h2one {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-top: 25px;
    font-family: 'Merriweather', serif;
}

.pone {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}


.relative {
    position: relative;
}

#container5-2 {
    position: relative;
    z-index: 1;
    top: 492px;
}

#container5-1 {
    position: absolute;
    left: 892px;
    z-index: 2;
    top: 57px;
}

#container5-3 {
    position: absolute;
    z-index: 3;
    top: 100px;
}

#container5-4 {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 700px;
}

.container5span {
    color: red;
}

.container6 {
    margin-top: 620px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
}

.heading6 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.main6 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
}

.footer6 {
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}

.container6image1 {
    display: flex;
    gap: 3px;
}

.container6image1 {
    display: flex;
    gap: 3px;
}

.container7 {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    background-color: rgb(225, 113, 93);
}

.container7 img {
    margin: 80px auto auto auto;
    height: auto;
    display: block;
    padding-top: 80px;
}

.container7head {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
}

.container7small {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}


.container7-remain {
    display: flex;
    gap: 0px;
    justify-content: center;
}


.btn-primary {
    width: 110px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    height: 66px;
    color: white;
    background-color: red;
}


.container7-remain input {
    width: 250px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    margin-bottom: 90px;
    height: 64px;
}

.footer-main {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.footer-last1 {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
}

.footer-last1>ul {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 800px;
}

.footer-last1 li {
    list-style: none;
}

.footer-last1 h3 {
    margin-top: 120px;
    margin-left: 140px;
}

.footer-image8 {
    margin-top: 100px;
    margin-left: 645px;
}

nav a {
    text-decoration: none;
    color: white;
}

.sesh1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}


.dear-sir-or-maam {
    display: flex;
}

.can-i-get-number-60 {
    margin-top: 120px;
    margin-left: 140px;
    margin-bottom: 120px;
}

.pretty-please {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 900px;
    margin-bottom: 120px;
}